@{
    ViewData["Title"] = "Historial De Planificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
}

    <div class="card-historial-dml shadow mb-4" style = "width:82%; height:86%;">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Historial de Carpetas Requerimiento Planificacion</h6>
    </div>
        <div class="card-body">
        <div class="form-row align-items-end">
            <div class="form-group col-sm-3">
                <label for="cboBuscarPor">Buscar por</label>
                <select class="form-control form-control-sm" id="cboBuscarPor">
                    <option value="fecha">Fechas</option>
                    <option value="numero">Numero Carpeta Planificacion</option>
                </select>
            </div>
            <div class="form-group col-sm-3 busqueda-fecha">
                <label for="txtFechaInicio">Fecha Inicio</label>
                <input type="text" class="form-control form-control-sm" id="txtFechaInicio">
            </div>
            <div class="form-group col-sm-3 busqueda-fecha">
                <label for="txtFechaFin">Fecha Fin</label>
                <input type="text" class="form-control form-control-sm" id="txtFechaFin">
            </div>
                <div class="form-group col-sm-3 busqueda-planificacion">
                <label for="txtNumeroPlanificacion">Numero Planificacion</label>
                <input type="text" class="form-control form-control-sm" id="txtNumeroPlanificacion">
            </div>
            <div class="form-group col-sm-3">
                <button class="btn btn-success btn-block btn-sm" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>

        <div class="row" style="width:100%; height:92%; overflow-y:scroll">
            <div class="col-sm-12">
                <table class="table table-sm table-striped" id="tbPlanificacion">
                    <thead>
                        <tr>
                            <th>Fecha Registro</th>
                            <th>Numero Carpeta</th>
                            <th>Cite Carpeta</th>
                            <th>Unidad Responsable</th>
                            <th>Centro Medico</th>
                            <th>Monto Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!---  Modal Para Visualizar Planificacion y Detalle --->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="margin-left:-20px; margin-top:44px; height:870px;">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content-planif">

            <div class="modal-header">
                <h6>DETALLE CARPETA DE PLANIFICACION</h6>
                <label for="txtObservacion">                                Estado De La Carpeta: </label>
                <input class="form-control form-control-lg-observacion" id="txtObservacion" disabled>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <form>
                    <input type="hidden" value="0" id="txtId">
                    <input type="hidden" id="txtIdDocumento" disabled>
                    <input type="hidden" id="txtIdUnidadResponsable" disabled>
                    <input type="hidden" id="txtIdCentro" disabled>
                    <input type="hidden" id="txtIdUsuario" disabled>
                    <input type="hidden" id="txtLugar" disabled>
                    <input type="hidden" id="txtCertificadoPoa" disabled>
                    <input type="hidden" id="txtReferenciaPlanificacion" disabled>
                    <input type="hidden" id="txtNombreRegional" disabled>
                    <input type="hidden" id="txtNombreEjecutora" disabled>
                    <input type="hidden" id="txtMontoPoa" disabled>
                    <input type="hidden" id="txtMontoPresupuesto" disabled>
                    <input type="hidden" id="txtMontoCompra" disabled>
                    <input type="hidden" id="txtUnidadProceso" disabled>
                    <input type="hidden" id="txtEstadoCarpeta" disabled>

                    <div class="row">
                        <div class="input-group">
                            <label for="txtFechaRegistro">    Fecha Registro: </label>
                            <input type="text" class="form-control form-control-sm col-sm-1" id="txtFechaRegistro" disabled>
                            <label for="txtNumeroPlanificacion">    Nro. Carpeta: </label>
                            <input type="text" class="form-control form-control-sm col-sm-1" id="txtNumeroPlanificacion" disabled>
                            <label for="txtCitePlanificacion">    Cite Carpeta: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtCitePlanificacion" disabled>
                        </div>
                        <div class="input-group" style="margin-top:10px;">
                            <label for="txtUnidadSolicitante">    Unidad Solicitante: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtUnidadSolicitante" disabled>
                            <label for="txtUnidadResponsable">   Unidad Responsable: </label>
                            <input type="text" class="form-control form-control-sm col-sm-4" id="txtUnidadResponsable" disabled>
                            <label for="txtNombreDocumento">    Tipo Documento: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtNombreDocumento" disabled>
                        </div>
                    </div>

                    <div style="height: 575px; overflow-y:scroll; overflow-x:scroll">
                        <div class="col-sm-12">
                            <table id="tbPartidas" class="table table-bordered-planif">
                                <thead style="background-color:#075e62; color:aliceblue;">
                                    <tr>
                                        <th class='text-center'>N°</th>
                                        <th class='text-center'>Actividad</th>
                                        <th class='text-center'>Partida</th>
                                        <th style="min-width:600px !important;" class='text-center'>Descripcion</th>
                                        <th class='text-center'>Medida</th>
                                        <th class='text-center'>Cantidad</th>
                                        <th class='text-center'>Precio Unitario</th>
                                        <th class='text-center'>Total</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Temporalidad</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Observacion</th>
                                        <th class='text-center'>Enero</th>
                                        <th class='text-center'>Febrero</th>
                                        <th class='text-center'>Marzo</th>
                                        <th class='text-center'>Abril</th>
                                        <th class='text-center'>Mayo</th>
                                        <th class='text-center'>Junio</th>
                                        <th class='text-center'>Julio</th>
                                        <th class='text-center'>Agosto</th>
                                        <th class='text-center'>Septiembre</th>
                                        <th class='text-center'>Octubre</th>
                                        <th class='text-center'>Noviembre</th>
                                        <th class='text-center'>Diciembre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <label for="txtTotal">Total:</label>
                <input type="text" class="form-control form-control-sm col-sm-2" id="txtTotal" disabled>

                <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>

    <script src="~/js/vistas/Historial_Planificacion.js"></script>
}

