@{
    ViewData["Title"] = "ListadoCarpetasUsuario";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">

    <link rel="stylesheet" href="~/vendor/sweetalert/sweetalert.css">

    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
}
<!-- DataTales Example -->
<div class="card-historial-dml shadow mb-4" style="width:82%; height:86%;">

    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Mis Carpetas Requerimientos Registrados</h6>
    </div>
    <div class="card-body">

        <div class="row" style="overflow-y:scroll">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha Registro</th>
                            <th>Nro. Carpeta</th>
                            <th>Cite Carpeta</th>
                            <th>Unidad Solicitante</th>
                            <th>Unidad Responsable</th>
                            <th class='text-right'>Monto Total</th>
                            <th>Estado</th>
                            <th style="min-width:100px;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!---  Modal Para Visualizar Planificacion y Detalle --->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="margin-left:-20px; margin-top:44px; height:870px;">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content-planif">

            <div class="modal-header">
                <h6>DETALLE CARPETA DE PLANIFICACION</h6>
                <label for="txtObservacion">                                Estado De La Carpeta: </label>
                <input class="form-control form-control-lg-observacion" id="txtObservacion" disabled>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <form>
                    <input type="hidden" value="0" id="txtId">
                    <input type="hidden" id="txtIdDocumento" disabled>
                    <input type="hidden" id="txtIdUnidadResponsable" disabled>
                    <input type="hidden" id="txtIdCentro" disabled>
                    <input type="hidden" id="txtIdUsuario" disabled>
                    <input type="hidden" id="txtLugar" disabled>
                    <input type="hidden" id="txtCertificadoPoa" disabled>
                    <input type="hidden" id="txtReferenciaPlanificacion" disabled>
                    <input type="hidden" id="txtNombreRegional" disabled>
                    <input type="hidden" id="txtNombreEjecutora" disabled>
                    <input type="hidden" id="txtMontoPoa" disabled>
                    <input type="hidden" id="txtMontoPresupuesto" disabled>
                    <input type="hidden" id="txtMontoCompra" disabled>
                    <input type="hidden" id="txtUnidadProceso" disabled>
                    <input type="hidden" id="txtEstadoCarpeta" disabled>

                    <div class="row">
                        <div class="input-group">
                                <label for="txtFechaRegistro">    Fecha Registro: </label>
                                <input type="text" class="form-control form-control-sm col-sm-1" id="txtFechaRegistro" disabled>
                                <label for="txtNumeroPlanificacion">    Nro. Carpeta: </label>
                                <input type="text" class="form-control form-control-sm col-sm-1" id="txtNumeroPlanificacion" disabled>
                                <label for="txtCitePlanificacion">    Cite Carpeta: </label>
                                <input type="text" class="form-control form-control-sm col-sm-2" id="txtCitePlanificacion" disabled>
                        </div>
                        <div class="input-group" style="margin-top:10px;">
                            <label for="txtUnidadSolicitante">    Unidad Solicitante: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtUnidadSolicitante" disabled>
                            <label for="txtUnidadResponsable">   Unidad Responsable: </label>
                            <input type="text" class="form-control form-control-sm col-sm-4" id="txtUnidadResponsable" disabled>
                            <label for="txtNombreDocumento">    Tipo Documento: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtNombreDocumento" disabled>
                        </div>
                    </div>

                    <div style="height: 575px; overflow-y:scroll; overflow-x:scroll">
                        <div class="col-sm-12">
                            <table id="tbPartidas" class="table table-bordered-planif">
                                <thead style="background-color:#075e62; color:aliceblue;">
                                    <tr>
                                        <th class='text-center'>N°</th>
                                        <th class='text-center'>Actividad</th>
                                        <th class='text-center'>Partida</th>
                                        <th style="min-width:600px !important;" class='text-center'>Descripcion</th>
                                        <th class='text-center'>Medida</th>
                                        <th class='text-center'>Cantidad</th>
                                        <th class='text-center'>Precio Unitario</th>
                                        <th class='text-center'>Total</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Temporalidad</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Observacion</th>
                                        <th class='text-center'>Enero</th>
                                        <th class='text-center'>Febrero</th>
                                        <th class='text-center'>Marzo</th>
                                        <th class='text-center'>Abril</th>
                                        <th class='text-center'>Mayo</th>
                                        <th class='text-center'>Junio</th>
                                        <th class='text-center'>Julio</th>
                                        <th class='text-center'>Agosto</th>
                                        <th class='text-center'>Septiembre</th>
                                        <th class='text-center'>Octubre</th>
                                        <th class='text-center'>Noviembre</th>
                                        <th class='text-center'>Diciembre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <label for="txtTotal">Total:</label>
                <input type="text" class="form-control form-control-sm col-sm-2" id="txtTotal" disabled>

                <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!---  Modal Para Modificar Planificacion y Detalle --->
<div class="modal fade" id="modalDataEdicion" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="margin-left:-20px; margin-top:44px; height:870px;">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content-planif">

            <div class="modal-header">
                <h6>EDICION CARPETA DE PLANIFICACION</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <form>
                    <input type="hidden" value="0" id="txtIdE">
                    <input type="hidden" id="txtIdDocumentoE" disabled>
                    <input type="hidden" id="txtIdUnidadResponsableE" disabled>
                    <input type="hidden" id="txtIdCentroE" disabled>
                    <input type="hidden" id="txtIdUsuarioE" disabled>
                    <input type="hidden" id="txtLugarE" disabled>
                    <input type="hidden" id="txtCertificadoPoaE" disabled>
                    <input type="hidden" id="txtReferenciaPlanificacionE" disabled>
                    <input type="hidden" id="txtNombreRegionalE" disabled>
                    <input type="hidden" id="txtNombreEjecutoraE" disabled>
                    <input type="hidden" id="txtMontoPlanificacionE" disabled>
                    <input type="hidden" id="txtMontoPoaE" disabled>
                    <input type="hidden" id="txtMontoPresupuestoE" disabled>
                    <input type="hidden" id="txtMontoCompraE" disabled>
                    <input type="hidden" id="txtUnidadProcesoE" disabled>
                    <input type="hidden" id="txtEstadoCarpetaE" disabled>
                    <input type="hidden" id="txtObservacionE" disabled>

                    <div class="row">
                        <div class="input-group">
                            <label for="txtNumeroPlanificacionE">  N° Carpeta: </label>
                            <input type="text" class="form-control form-control-sm col-sm-1" id="txtNumeroPlanificacionE" disabled>
                            <label for="txtCitePlanificacionE">   Cite Carpeta: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtCitePlanificacionE">
                            <label for="txtFechaRegistroE">    Fecha Registro: </label>
                            <input type="text" class="form-control form-control-sm col-sm-1" id="txtFechaRegistroE" disabled>
                        </div>
                        <div class="input-group" style="margin-top:10px;">
                            <label for="cboCentro">  Centro Medico (Programa): </label>
                            <select class="custom-select-edicion col-sm-2" id="cboCentro"></select>
                            <label for="cboUnidadResponsable">    Unidad Responsable: </label>
                            <select class="custom-select-edicion col-sm-3" id="cboUnidadResponsable"></select>
                            <label for="cboDocumento">    Tipo Documento: </label>
                            <select class="custom-select-edicion col-sm-2" id="cboDocumento"></select>
                        </div>
                        <div class="form-group col-sm-6">
                            Buscar Partida Presupuestaria:
                            <select class="form-control form-control-sm col-sm-6" id="cboBuscarPartida">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div style="height: 505px; overflow-y:scroll; overflow-x:scroll">
                        <div class="col-sm-12">
                            <table id="tbPartidaEdicion" class="table table-bordered-planif">
                                <thead style="background-color:#075e62; color:aliceblue;">
                                    <tr>
                                        <th class='text-center'>N°</th>
                                        <th class='text-center'>Actividad</th>
                                        <th class='text-center'>Partida</th>
                                        <th style="min-width:600px !important;" class='text-center'>Descripcion</th>
                                        <th class='text-center'>Medida</th>
                                        <th class='text-center'>Cantidad</th>
                                        <th class='text-center'>Precio Unitario</th>
                                        <th class='text-center'>Total</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Temporalidad</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Observacion</th>
                                        <th class='text-center'>Enero</th>
                                        <th class='text-center'>Febrero</th>
                                        <th class='text-center'>Marzo</th>
                                        <th class='text-center'>Abril</th>
                                        <th class='text-center'>Mayo</th>
                                        <th class='text-center'>Junio</th>
                                        <th class='text-center'>Julio</th>
                                        <th class='text-center'>Agosto</th>
                                        <th class='text-center'>Septiembre</th>
                                        <th class='text-center'>Octubre</th>
                                        <th class='text-center'>Noviembre</th>
                                        <th class='text-center'>Diciembre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer" style="left:-300px;">
                <label for="txtTotalPlanificacionE">Total:</label>
                <input type="text" class="form-control form-control-sm col-sm-2" id="txtTotalPlanificacionE" disabled>

                <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.js"></script>

    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
    <script src="~/js/vistas/ListadoCarpetaxUsuarioActivo.js"></script>

    <script src="/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="/vendor/jquery-ui/idioma/datepicker-es.js"></script>
}

