@using System.Security.Claims

@{
    ViewData["Title"] = "Anteproyectos POA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
<!-- DataTales Example -->
<div class="card-historial-dml" style="width:82%; height:85%;">
    <div class="card-header bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Anteproyectos POA </h6>
        <div style="text-align:right; color:white;">
            Unidad Responsable:
            @{@ViewBag.UnidadResponsable}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <form class="form-inline" style="font-size: 12px;">
                <label><b> GESTIÓN ANTEPROYECTO P.O.A.:  </b></label> &nbsp;&nbsp;
                <select class="form-control" style="font-size: 12px;">
                    <option selected>2021</option>
                    <option selected>2022</option>
                    <option selected>2023</option>
                </select>  &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary mb-2" style="font-size: 12px;">Consultar Anteproyecto POA </button>
            </form>
        </div>
        <hr>
        <div class="row" style="font-size: 14px; height:90%; overflow-y:scroll;">
            <div class="col-sm-12">
                <table class="table table-bordered table-responsive" id="tbdata" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Centro</th>
                            <th>U.Responsable</th>
                            <th>Descripcion</th>
                            <th>Partida</th>
                            <th>U.Medida</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>MontoTotal</th>
                            <th>Enero</th>
                            <th>Febrero</th>
                            <th>Marzo</th>
                            <th>Abril</th>
                            <th>Mayo</th>
                            <th>Junio</th>
                            <th>Julio</th>
                            <th>Agosto</th>
                            <th>Septiembre</th>
                            <th>Octubre</th>
                            <th>Noviembre</th>
                            <th>Diciembre</th>
                            <th>Obs.</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

    <div class="card-footer"></div>
</div>
<hr />

@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/AnteproyectoPoa_Index.js"></script>
}
