@using System.Security.Claims

@{
    ViewData["Title"] = "Anteproyectos POA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
<!-- DataTales Example -->
<div class="card-historial-dml" style="width:82%; height:86%;">
    <div class="card-header bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Anteproyectos POA</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 text-right">
                Unidad Responsable:
            </div>
            <div class="col-sm-6 text-left">
                @{
                    @ViewBag.UnidadResponsable

                }
            </div>

        </div>

        </br>
        <div class="row">
            <div class="col-sm-4">
            </div>

            <div class="col-sm-4 text-center">
                <div>
                    <form class="form-inline">
                        <label><b> GESTIÓN P.O.A.:  </b></label> &nbsp;&nbsp;
                        <select class="form-control">
                            <option selected>2022</option>
                        </select>  &nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary mb-2">Consultar POA </button>
                    </form>
                </div>

            </div>

            <div class="col-sm-4">
            </div>

        </div>
        <hr>
        <div class="row" style="width:100%; height:92%; overflow-y:scroll">
            <div class="col-sm-12">
                <table class="table table-bordered table-responsive" id="tbdata" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Regional</th>
                            <th>Nombre Centro</th>
                            <th>U.Responsable</th>
                            <th>Detalle</th>
                            <th>Partida</th>
                            <th>U.Medida</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>MontoTotal</th>
                            <th>Obs.</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

    <div class="card-footer"></div>
</div>
<hr />


@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/AnteproyectoPoa_Index.js"></script>
}
