@{
    ViewData["Title"] = "Listado Anteproyectos Poa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">

    <link rel="stylesheet" href="~/vendor/sweetalert/sweetalert.css">

    <link href="~/css/EstiloValidarCampoAnteproyecto.css" rel="stylesheet">

    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
}

<!-- DataTales Example -->
<div class="card-historial-dml shadow mb-4" style="width:82%; height:86%;">

    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Mis Anteproyectos POA Registrados</h6>
    </div>
    <div class="card-body">

        <div class="row" style="overflow-y:scroll">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha Registro</th>
                            <th>Cite Carpeta</th>
                            <th>Unidad Solicitante</th>
                            <th>Unidad Responsable</th>
                            <th class='text-right'>Monto Total</th>
                            <th>Estado</th>
                            <th style="min-width:100px;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!---  Modal Para Visualizar Requerimiento y Detalle --->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="margin-left:-20px; margin-top:44px; height:870px;">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content-planif">

            <div class="modal-header">
                <h6>DETALLE DEL ANTEPROYECTO POA</h6>
                <label for="txtObservacion">                                Estado De La Carpeta: </label>
                <input class="form-control form-control-lg-observacion" id="txtObservacion" disabled>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <input type="hidden" value="0" id="txtId">
                    <input type="hidden" id="txtIdUnidadResponsable" disabled>
                    <input type="hidden" id="txtIdCentro" disabled>
                    <input type="hidden" id="txtIdUsuario" disabled>
                    <input type="hidden" id="txtLugar" disabled>
                    <input type="hidden" id="txtNombreRegional" disabled>
                    <input type="hidden" id="txtNombreEjecutora" disabled>
                    <input type="hidden" id="txtEstadoRequerimiento" disabled>

                    <div class="row">
                        <div class="input-group">
                            <label for="txtFechaRegistro">    Fecha Registro: </label>
                            <input type="text" class="form-control form-control-sm col-sm-1" id="txtFechaRegistro" disabled>
                            <label for="txtCiteAnteproyecto">    Cite Anteproyecto Poa: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtCiteAnteproyecto" disabled>
                        </div>
                        <div class="input-group" style="margin-top:10px;">
                            <label for="txtUnidadSolicitante">    Unidad Solicitante: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtUnidadSolicitante" disabled>
                            <label for="txtUnidadResponsable">   Unidad Responsable: </label>
                            <input type="text" class="form-control form-control-sm col-sm-4" id="txtUnidadResponsable" disabled>
                        </div>
                    </div>
                    <hr />

                    <div style="height: 500px; overflow-y:scroll; overflow-x:scroll">
                        <div class="col-sm-12">
                            <table id="tbPartidas" class="table table-bordered-planif">
                                <thead style="background-color:#075e62; color:aliceblue;">
                                    <tr>
                                        <th class='text-center'>N°</th>
                                        <th class='text-center'>Actividad</th>
                                        <th class='text-center'>Partida</th>
                                        <th style="min-width:600px !important;" class='text-center'>Descripcion</th>
                                        <th class='text-center'>Medida</th>
                                        <th class='text-center'>Cantidad</th>
                                        <th class='text-center'>Precio Unitario</th>
                                        <th class='text-center'>Total</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Observacion</th>
                                        <th class='text-center'>Enero</th>
                                        <th class='text-center'>Febrero</th>
                                        <th class='text-center'>Marzo</th>
                                        <th class='text-center'>Abril</th>
                                        <th class='text-center'>Mayo</th>
                                        <th class='text-center'>Junio</th>
                                        <th class='text-center'>Julio</th>
                                        <th class='text-center'>Agosto</th>
                                        <th class='text-center'>Septiembre</th>
                                        <th class='text-center'>Octubre</th>
                                        <th class='text-center'>Noviembre</th>
                                        <th class='text-center'>Diciembre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <label for="txtTotalAnteproyecto">Total:</label>
                <input type="text" class="form-control form-control-sm col-sm-2" id="txtTotalAnteproyecto" disabled>

                <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!---  Modal Para Editar Requerimiento Poa y Detalle --->
<div class="modal fade" id="modalDataEdicion" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="margin-left:-20px; margin-top:44px; height:870px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content-planif">

            <div class="modal-header">
                <h6>DETALLE DEL ANTEPROYECTO POA</h6>
                <label for="txtObservacionE">                                Estado De La Carpeta: </label>
                <input class="form-control form-control-lg-observacion" id="txtObservacionE" disabled>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <form>
                    <input type="hidden" value="0" id="txtIdE">
                    <input type="hidden" id="txtIdUnidadResponsableE" disabled>
                    <input type="hidden" id="txtIdCentroE" disabled>
                    <input type="hidden" id="txtIdUsuarioE" disabled>
                    <input type="hidden" id="txtLugarE" disabled>
                    <input type="hidden" id="txtNombreRegionalE" disabled>
                    <input type="hidden" id="txtNombreEjecutoraE" disabled>
                    <input type="hidden" id="txtEstadoAnteproyectoE" disabled>

                    <div class="row">
                        <div class="input-group">
                            <label for="txtFechaRegistroE">    Fecha Registro: </label>
                            <input type="text" class="form-control form-control-sm col-sm-1" id="txtFechaRegistroE" disabled>
                            <label for="txtCiteAnteproyectoE">    Cite Anteproyecto Poa: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtCiteAnteproyectoE" disabled>
                        </div>
                        <div class="input-group" style="margin-top:10px;">
                            <label for="txtUnidadSolicitanteE">    Unidad Solicitante: </label>
                            <input type="text" class="form-control form-control-sm col-sm-2" id="txtUnidadSolicitanteE" disabled>
                            <label for="txtUnidadResponsableE">   Unidad Responsable: </label>
                            <input type="text" class="form-control form-control-sm col-sm-4" id="txtUnidadResponsableE" disabled>
                        </div>

                        <div class="form-group col-sm-6">
                            Buscar Partida Presupuestaria:
                            <select class="form-control form-control-sm col-sm-6" id="cboBuscarPartida">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div style="height: 500px; overflow-y:scroll; overflow-x:scroll">
                        <div class="col-sm-12">
                            <table id="tbPartidaEdicion" class="table table-bordered-planif">
                                <thead style="background-color:#075e62; color:aliceblue;">
                                    <tr>
                                        <th class='text-center'>N°</th>
                                        <th class='text-center'>Actividad</th>
                                        <th class='text-center'>Partida</th>
                                        <th style="min-width:600px !important;" class='text-center'>Descripcion</th>
                                        <th class='text-center'>Medida</th>
                                        <th class='text-center'>Cantidad</th>
                                        <th class='text-center'>Precio Unitario</th>
                                        <th class='text-center'>Total</th>
                                        <th style="min-width:200px !important; text-align:center !important;" class='text-center'>Observacion</th>
                                        <th class='text-center'>Enero</th>
                                        <th class='text-center'>Febrero</th>
                                        <th class='text-center'>Marzo</th>
                                        <th class='text-center'>Abril</th>
                                        <th class='text-center'>Mayo</th>
                                        <th class='text-center'>Junio</th>
                                        <th class='text-center'>Julio</th>
                                        <th class='text-center'>Agosto</th>
                                        <th class='text-center'>Septiembre</th>
                                        <th class='text-center'>Octubre</th>
                                        <th class='text-center'>Noviembre</th>
                                        <th class='text-center'>Diciembre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <form class="formulario" id="formulario"></form>
            </div>
            <div class="modal-footer">
                <label for="txtTotalAnteproyectoE">Total:</label>
                <input type="text" class="form-control form-control-sm col-sm-2" id="txtTotalAnteproyectoE" disabled>

                <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--  Modal Para Registrar Valores Para Una Partida -->
<div class="modal fade" id="modalRegistroPartida" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content-planif">
            <div class="modal-header">
                <input type="text" style="font-weight: 700; font-size: 28px;" class="form-control" name="txtTituloMensaje" id="txtTituloMensaje" disabled>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="dark"></div>
            <div class="modal-body">
                <input type="hidden" id="txtIdPartidaModal" disabled>
                <input type="hidden" id="txtCodigoPartidaModal" disabled>
                <input type="hidden" id="txtNombrePartidaModal" disabled>
                <form action="" class="formulariogrupo01" id="formulariogrupo01">
                    <!-- Grupo: Actividad -->
                    <div class="formulario__grupo" id="grupo__txtActividadModal">
                        <label for="txtActividadModal" class="formulario__label">Actividad :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="2" class="formulario__input-actividad" name="txtActividadModal" id="txtActividadModal" placeholder="0">
                            <i class="formulario__validacion-estado-actividad fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Actividad debe estar entre 1 y 41.</p>
                    </div>

                    <!-- Grupo: Detalle Requerimiento -->
                    <div class="formulario__grupo" id="grupo__txtDetalleModal">
                        <label for="txtDetalleModal" class="formulario__label-detalle">Detalle Anteproyecto :</label>
                        <div class="formulario__grupo-input">
                            <textarea type="text" class="formulario__input-detalle" name="txtDetalleModal" id="txtDetalleModal"></textarea>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error"></p>
                    </div>
                </form>

                <form action="" class="formulariogrupo02" id="formulariogrupo02">
                    <!-- Grupo: Unidad Medida -->
                    <div class="formulario__grupo" id="grupo__txtMedidaModal">
                        <label for="txtMedidaModal" class="formulario__label-medida">Unidad de Medida :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="15" class="formulario__input-medida" name="txtMedidaModal" id="txtMedidaModal" placeholder="Unidad Medida">
                            <i class="formulario__validacion-estado-medida fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Unidad de Medida debe tener de 1 a 15 Caracteres.</p>
                    </div>

                    <!-- Grupo: Cantidad -->
                    <div class="formulario__grupo" id="grupo__txtCantidadModal">
                        <label for="txtCantidadModal" class="formulario__label">Cantidad :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtCantidadModal" id="txtCantidadModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-cantidad fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Cantidad debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Precio Unitario -->
                    <div class="formulario__grupo" id="grupo__txtPrecioModal">
                        <label for="txtPrecioModal" class="formulario__label">Precio Unitario :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtPrecioModal" id="txtPrecioModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-precio fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Precio Unitario debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Observacion -->
                    <div class="formulario__grupo" id="grupo__txtObservacionModal">
                        <label for="txtObservacionModal" class="formulario__label-observacion">Observación :</label>
                        <div class="formulario__grupo-input">
                            <textarea type="text" class="formulario__input-observacion" name="txtObservacionModal" id="txtObservacionModal"></textarea>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">La Observación debe tener de 1 a 200 Caracteres.</p>
                    </div>
                </form>

                <form action="" class="formulariogrupo03" id="formulariogrupo03">
                    <!-- Grupo: Enero -->
                    <div class="formulario__grupo" id="grupo__txtEneroModal">
                        <label for="txtEneroModal" class="formulario__label">Enero :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtEneroModal" id="txtEneroModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Enero debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Febrero -->
                    <div class="formulario__grupo" id="grupo__txtFebreroModal">
                        <label for="txtFebreroModal" class="formulario__label">Febrero :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtFebreroModal" id="txtFebreroModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Febrero debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Marzo -->
                    <div class="formulario__grupo" id="grupo__txtMarzoModal">
                        <label for="txtMarzoModal" class="formulario__label">Marzo :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtMarzoModal" id="txtMarzoModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Marzo debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Abril -->
                    <div class="formulario__grupo" id="grupo__txtAbrilModal">
                        <label for="txtAbrilModal" class="formulario__label">Abril :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtAbrilModal" id="txtAbrilModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Abril debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Mayo -->
                    <div class="formulario__grupo" id="grupo__txtMayoModal">
                        <label for="txtMayoModal" class="formulario__label">Mayo :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtMayoModal" id="txtMayoModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Mayo debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Junio -->
                    <div class="formulario__grupo" id="grupo__txtJunioModal">
                        <label for="txtJunioModal" class="formulario__label">Junio :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtJunioModal" id="txtJunioModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Junio debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Julio -->
                    <div class="formulario__grupo" id="grupo__txtJulioModal">
                        <label for="txtJulioModal" class="formulario__label">Julio :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtJulioModal" id="txtJulioModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Julio debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Agosto -->
                    <div class="formulario__grupo" id="grupo__txtAgostoModal">
                        <label for="txtAgostoModal" class="formulario__label">Agosto :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtAgostoModal" id="txtAgostoModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Agosto debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>

                    <!-- Grupo: Septiembre -->
                    <div class="formulario__grupo" id="grupo__txtSeptiembreModal">
                        <label for="txtSeptiembreModal" class="formulario__label">Septiembre :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtSeptiembreModal" id="txtSeptiembreModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Septiembre debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Octubre -->
                    <div class="formulario__grupo" id="grupo__txtOctubreModal">
                        <label for="txtOctubreModal" class="formulario__label">Octubre :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtOctubreModal" id="txtOctubreModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Octubre debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Noviembre -->
                    <div class="formulario__grupo" id="grupo__txtNoviembreModal">
                        <label for="txtNoviembreModal" class="formulario__label">Noviembre :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtNoviembreModal" id="txtNoviembreModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Noviembre debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                    <!-- Grupo: Diciembre -->
                    <div class="formulario__grupo" id="grupo__txtDiciembreModal">
                        <label for="txtDiciembreModal" class="formulario__label">Diciembre :</label>
                        <div class="formulario__grupo-input">
                            <input type="text" required maxlength="18" class="formulario__input" name="txtDiciembreModal" id="txtDiciembreModal" placeholder="0.00">
                            <i class="formulario__validacion-estado-grupo03 fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Diciembre debe tener de 1 a 18 Dígitos incluído Punto Decimal (Opcional). Ej.  4326.58</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardarModalAnteproyecto">Correcto</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.js"></script>

    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
    <script src="~/js/vistas/Listado_AnteproyectoPoa.js"></script>

    <script src="/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="/vendor/jquery-ui/idioma/datepicker-es.js"></script>

    <script src="~/js/vistas/ValidarCampoAnteproyecto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}