@using System.Security.Claims

@{
    ViewData["Title"] = "Solicitud Modificacion Requerimientos POA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
    <!-- DataTales Example -->
    <div class="card">
        <div class="card-header bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">LISTADO DE SOLICITUDES PARA MODIFICACIONES AL POA </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 text-right">
                    <b>UNIDAD RESPONSABLE:</b>
                </div>
                <div class="col-sm-6 text-left">
                    @{
                            @ViewBag.UnidadResponsable

                }
            </div>

        </div>

        </br>
        <div class="row">
            <div class="col-sm-6 text-right">
                <b> GESTIÓN POA:</b>
            </div>

            <div class="col-sm-6 text-left">
                <div>
                    <form class="form-inline">

                        <select class="form-control" disabled>
                            <option selected>2022</option>
                        </select>  &nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary mb-2" disabled>Consultar POA </button>
                    </form>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 text-right">
               <b>ESTADO:</b>
            </div>
            <div class="col-sm-6 text-left">
                <div>
                    <form class="form-inline">
                    <select class="form-control" disabled>
                        <option selected>ACTIVO</option>
                        <option >TODOS</option>
                        <option >APROBADO</option>
                        <option >CANCELADO</option>
                    </select>  &nbsp;&nbsp;
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="SolicitudModificacion" class="btn btn-primary"> Nueva Solicitud Modificacion POA</a>
            </div>
        </div>
        <hr>


        <div class="row" style="width:100%; height:92%; overflow-y:scroll">

            <div class="col-sm-12">
                <table class="table table-bordered table-responsive" id="tbdata" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Lugar</th>
                            <th>Cite</th>
                            <th>Justificacion</th>
                            <th>Editar Indicador</th>
                            <th>Editar Cantidad</th>
                            <th>Total Temporalidad</th>
                            <th>Total Actual</th>
                            <th>Total Modificar</th>
                            <th>Fecha Registro</th>
                            <th>Estado</th>
                            <th style="width:120px;">Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-12">
            </div>
        </div>
    </div>

    <div class="card-footer"></div>
</div>


@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/ListaSolicitudModificacion.js"></script>
}

